In [10]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
import hvplot.pandas
%matplotlib inline

In [11]:
# Set csv path and create zillow housing price dataframe
sale_price = Path('Resources/median_sale_price_monthly.csv')
housing_df2 = pd.read_csv(sale_price, infer_datetime_format=True, parse_dates=True)
housing_df2

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
0,102001,0,United States,country,NaN,183333.0,185667.0,188333.0,190833.0,191500.0,...,331667.0,345000.0,356667.0,363333.0,361667.0,356333.0,348167.0,341500.0,335167.0,329408.0
1,394913,1,"New York, NY",msa,NY,401162.0,399633.0,401633.0,407333.0,414000.0,...,520000.0,526667.0,536667.0,551667.0,566667.0,578333.0,575000.0,560000.0,545000.0,534667.0
2,753899,2,"Los Angeles, CA",msa,CA,500500.0,495500.0,491000.0,481000.0,467667.0,...,865000.0,900000.0,923333.0,928333.0,913333.0,894333.0,877667.0,865000.0,855667.0,842333.0
3,394463,3,"Chicago, IL",msa,IL,238917.0,239167.0,243333.0,248333.0,252000.0,...,273203.0,283333.0,295333.0,307000.0,310333.0,308333.0,298333.0,288000.0,279667.0,276000.0
4,394514,4,"Dallas, TX",msa,TX,141633.0,144600.0,148100.0,152067.0,153433.0,...,370033.0,390000.0,409000.0,421395.0,419728.0,411394.0,399333.0,391000.0,382630.0,374963.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,394649,837,"Greensburg, IN",msa,IN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175833.0
531,395159,844,"Toccoa, GA",msa,GA,NaN,NaN,NaN,NaN,NaN,...,193500.0,200167.0,200333.0,212333.0,207333.0,206167.0,199433.0,200767.0,191667.0,190067.0
532,753909,845,"Ottawa, KS",msa,KS,NaN,NaN,NaN,NaN,NaN,...,151567.0,172400.0,170333.0,172333.0,185667.0,193333.0,190267.0,170183.0,164950.0,157683.0
533,394830,852,"Marshall, MN",msa,MN,NaN,NaN,NaN,NaN,NaN,...,145050.0,167217.0,168883.0,172185.0,172002.0,170335.0,164483.0,161667.0,156667.0,149583.0
534,395004,853,"Prineville, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,449300.0,451800.0,481167.0,432317.0,429983.0,442467.0,445817.0,430817.0,416633.0,396633.0

In [12]:
# Remove columns except for StateName and Dates 
housing_df2 = housing_df2.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'RegionName'])
housing_df2.set_index(housing_df2['StateName'], inplace=True)
housing_df2.sort_index(inplace=True)
housing_df2

,StateName,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,2008-09-30,2008-10-31,2008-11-30,2008-12-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
StateName,,,,,,,,,,,,,,,,,,,,,
AL,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,187583.0,194167.0,193333.0,197000.0,205167.0,219333.0,211333.0,205817.0,195817.0,203817.0
AL,AL,131099.0,131533.0,135979.0,133729.0,136069.0,132160.0,135527.0,131820.0,133126.0,...,189767.0,199833.0,206700.0,208700.0,205200.0,200000.0,198333.0,200833.0,203983.0,203650.0
AL,AL,143396.0,147181.0,148779.0,151930.0,144430.0,141682.0,141135.0,141062.0,142795.0,...,219440.0,229967.0,230333.0,239667.0,247500.0,248833.0,243833.0,231667.0,231667.0,228167.0
AL,AL,71417.0,79300.0,77133.0,85300.0,80667.0,85750.0,86250.0,89250.0,86583.0,...,287658.0,293658.0,306650.0,313216.0,319883.0,311567.0,301667.0,286842.0,281825.0,271825.0
AL,AL,174591.0,184145.0,198547.0,220901.0,206713.0,192110.0,184674.0,192508.0,207476.0,...,343583.0,358667.0,368513.0,374513.0,369246.0,369400.0,378033.0,375883.0,376550.0,363250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WV,WV,85542.0,94667.0,100167.0,106333.0,106167.0,108483.0,103483.0,96817.0,85967.0,...,143667.0,155733.0,156979.0,158813.0,155079.0,159500.0,153667.0,152667.0,145333.0,157650.0
WV,WV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222789.0,230023.0,243967.0,237903.0,238361.0,234895.0,234375.0,232250.0,228083.0,223417.0
WY,WY,163349.0,165733.0,167967.0,165300.0,165300.0,166133.0,166800.0,160333.0,151833.0,...,332083.0,345667.0,358167.0,361833.0,356500.0,353967.0,348633.0,338300.0,341667.0,335000.0
WY,WY,174317.0,175983.0,177467.0,182050.0,186033.0,184550.0,180161.0,174345.0,169578.0,...,236417.0,249750.0,259750.0,276667.0,285000.0,280000.0,274150.0,267067.0,268733.0,267900.0
NaN,NaN,183333.0,185667.0,188333.0,190833.0,191500.0,187167.0,182333.0,177167.0,173833.0,...,331667.0,345000.0,356667.0,363333.0,361667.0,356333.0,348167.0,341500.0,335167.0,329408.0

In [13]:
# Use the `drop` function to drop specific column 'StateName' because it was excessive 
housing_df2.drop(columns=['StateName'], inplace=True)
housing_df2

,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,2008-09-30,2008-10-31,2008-11-30,2008-12-31,2009-01-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
StateName,,,,,,,,,,,,,,,,,,,,,
AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,187583.0,194167.0,193333.0,197000.0,205167.0,219333.0,211333.0,205817.0,195817.0,203817.0
AL,131099.0,131533.0,135979.0,133729.0,136069.0,132160.0,135527.0,131820.0,133126.0,130789.0,...,189767.0,199833.0,206700.0,208700.0,205200.0,200000.0,198333.0,200833.0,203983.0,203650.0
AL,143396.0,147181.0,148779.0,151930.0,144430.0,141682.0,141135.0,141062.0,142795.0,135895.0,...,219440.0,229967.0,230333.0,239667.0,247500.0,248833.0,243833.0,231667.0,231667.0,228167.0
AL,71417.0,79300.0,77133.0,85300.0,80667.0,85750.0,86250.0,89250.0,86583.0,84083.0,...,287658.0,293658.0,306650.0,313216.0,319883.0,311567.0,301667.0,286842.0,281825.0,271825.0
AL,174591.0,184145.0,198547.0,220901.0,206713.0,192110.0,184674.0,192508.0,207476.0,195726.0,...,343583.0,358667.0,368513.0,374513.0,369246.0,369400.0,378033.0,375883.0,376550.0,363250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WV,85542.0,94667.0,100167.0,106333.0,106167.0,108483.0,103483.0,96817.0,85967.0,85800.0,...,143667.0,155733.0,156979.0,158813.0,155079.0,159500.0,153667.0,152667.0,145333.0,157650.0
WV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222789.0,230023.0,243967.0,237903.0,238361.0,234895.0,234375.0,232250.0,228083.0,223417.0
WY,163349.0,165733.0,167967.0,165300.0,165300.0,166133.0,166800.0,160333.0,151833.0,149000.0,...,332083.0,345667.0,358167.0,361833.0,356500.0,353967.0,348633.0,338300.0,341667.0,335000.0
WY,174317.0,175983.0,177467.0,182050.0,186033.0,184550.0,180161.0,174345.0,169578.0,169383.0,...,236417.0,249750.0,259750.0,276667.0,285000.0,280000.0,274150.0,267067.0,268733.0,267900.0
NaN,183333.0,185667.0,188333.0,190833.0,191500.0,187167.0,182333.0,177167.0,173833.0,170500.0,...,331667.0,345000.0,356667.0,363333.0,361667.0,356333.0,348167.0,341500.0,335167.0,329408.0

In [14]:
# Transpose the dataframe so that the TimeDate would be on the Indexed side. 
housing_df2 = housing_df2.T
housing_df2.head()

StateName,AL,AL,AL,AL,AL,AL,AL,AL,AL,AL,...,WI,WI,WI,WI,WI,WV,WV,WY,WY,NaN
2008-04-30,NaN,131099.0,143396.0,71417.0,174591.0,204077.0,140340.0,123167.0,111625.0,141450.0,...,119833.0,120150.0,182483.0,NaN,127033.0,85542.0,NaN,163349.0,174317.0,183333.0
2008-05-31,NaN,131533.0,147181.0,79300.0,184145.0,196758.0,140123.0,128133.0,110500.0,148379.0,...,117800.0,121333.0,187650.0,NaN,128033.0,94667.0,NaN,165733.0,175983.0,185667.0
2008-06-30,NaN,135979.0,148779.0,77133.0,198547.0,202925.0,146083.0,128267.0,109000.0,151713.0,...,117367.0,122483.0,190283.0,NaN,126733.0,100167.0,NaN,167967.0,177467.0,188333.0
2008-07-31,NaN,133729.0,151930.0,85300.0,220901.0,195551.0,152417.0,127683.0,105833.0,155063.0,...,118867.0,122067.0,194500.0,NaN,132250.0,106333.0,NaN,165300.0,182050.0,190833.0
2008-08-31,NaN,136069.0,144430.0,80667.0,206713.0,220609.0,151761.0,123133.0,111333.0,150800.0,...,123217.0,119733.0,196167.0,NaN,134500.0,106167.0,NaN,165300.0,186033.0,191500.0

In [15]:
housing_df2.tail()

StateName,AL,AL,AL,AL,AL,AL,AL,AL,AL,AL,...,WI,WI,WI,WI,WI,WV,WV,WY,WY,NaN
2022-08-31,219333.0,200000.0,248833.0,311567.0,369400.0,198333.0,209900.0,186833.0,156150.0,277333.0,...,204967.0,230000.0,253433.0,247150.0,264167.0,159500.0,234895.0,353967.0,280000.0,356333.0
2022-09-30,211333.0,198333.0,243833.0,301667.0,378033.0,189567.0,204233.0,187000.0,159617.0,267333.0,...,201967.0,226667.0,250433.0,242817.0,268167.0,153667.0,234375.0,348633.0,274150.0,348167.0
2022-10-31,205817.0,200833.0,231667.0,286842.0,375883.0,187900.0,198217.0,189000.0,158100.0,264000.0,...,199467.0,221667.0,248833.0,232717.0,259000.0,152667.0,232250.0,338300.0,267067.0,341500.0
2022-11-30,195817.0,203983.0,231667.0,281825.0,376550.0,190267.0,189817.0,184667.0,154683.0,256300.0,...,194500.0,213333.0,245500.0,213133.0,252333.0,145333.0,228083.0,341667.0,268733.0,335167.0
2022-12-31,203817.0,203650.0,228167.0,271825.0,363250.0,194000.0,186467.0,171833.0,145550.0,251450.0,...,187667.0,208333.0,239667.0,217117.0,242000.0,157650.0,223417.0,335000.0,267900.0,329408.0